header {
    
    background-color : lightgrey;
    padding-left: 200px;
    
}
    
body {
    background-color: #D8D8D8;
    padding-top: 20px;
    border-top: 1px solid ;
    padding-bottom: 20px;
}

footer{
    background-color: lightgrey;
    padding-top: 50px;
    border-top:5px solid red;

}

